.container{
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  text-align: center;
}
.item{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: white;
  display: none;
  transition: all 0.5s;
}
.item img{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  margin-top: 5px;
  width: 140px;
  height: auto;
}
.item span{
  position: absolute;
  bottom: -100px;
  text-align: center;
  width: 100%;
  letter-spacing: 8px;
  font-size: 18px;
  color: white;
}
.left-none{
  left: 50%;
  margin-left: -400px;
  opacity: 0;
}
.left{
  display: block;
  left: 50%;
  margin-left: -190px;
  transform-origin: 50% 60%;
  transform: scale(0.6);
  filter: brightness(0.4);
}
.left span{
  opacity: 0;
}
.center{
  display: block;
  left: 50%;
  margin-left: -75px;
  z-index: 99;
}
.right{
  display: block;
  left: 50%;
  margin-left: 40px;
  transform-origin: 50% 60%;
  transform: scale(0.7);
  filter: brightness(0.4);
}
.right span{
  opacity: 0;
}
.right-none{
  left: 50%;
  margin-left: 250px;
}
