.dataui{
  position: absolute;
  right: 30px;
  top: 0px;
  width: 150px;
  height: 150px;
  z-index: 1000;
  background: url('./Images/UI.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.dataui-money{
  position: absolute;
  background-color: #FFEB5E;
  border-radius: 2px;
  height: 6px;
  left: 39px;
  top: 31px;
}
.dataui-money span{
  width: 50px;
  color: #FFEB5E;
  position: absolute;
  font-size: 12px;
  top: -25px;
}
.dataui-technology{
  position: absolute;
  background-color: #6C90DF;
  border-radius: 2px;
  height: 6px;
  left: 39px;
  top: 78px;
}
.dataui-technology span{
  width: 50px;
  color: #6C90DF;
  position: absolute;
  font-size: 12px;
  top: -25px;
}
.dataui-people{
  position: absolute;
  background-color: #DF6C6C;
  border-radius: 2px;
  height: 6px;
  left: 39px;
  top: 124px;
}
.dataui-people span{
  width: 50px;
  color: #DF6C6C;
  position: absolute;
  font-size: 12px;
  top: -25px;
}
@keyframes updown {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY(0);
  }
}
.sealevel{
  position: absolute;
  width: 30px;
  height: 60px;
  z-index: 4;
  bottom: 15px;
  left: 35px;
  background: url('./Images/UI3.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: updown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.sealevel p {
  position: absolute;
  color: #6C90DF;
  width: 120px;
  font-size: 12px;
  top: -20px;
  left: -25px;
}
.choosepanel-container{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -175px;
  width: 350px;
  height: 200px;
  z-index: 1024;
  opacity: 0;
  transform-origin: bottom;
  transition: opacity 0.5s;
  background: url('./Images/UI2.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.mask{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: black;
  z-index: 1023;
}
.choosepanel-text{
  width: 270px;
  height: 120px;
  overflow-y: scroll;
  margin-left: 44px;
  margin-top: 62px;
  color: #395EAB;
}
.choosepanel-text p {
  margin: 0px;
  font-size: 14px;
}
.choosepanel-toast{
  position: absolute;
  opacity: 0;
  height: 35px;
  width: 84%;
  left: 8%;
  bottom: 10px;
  border-radius: 2px;
  background-color: #1C3D82;
  color: white;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
  opacity: 0;
}
.toast{
  transition: opacity 1s;
  position: absolute;
  font-size: 14px;
  z-index: 1024;
  color: white;
  background-color: black;
  opacity: 0;
  border-radius: 5px;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10%;
  text-align: center;
}
